# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
 create mode 100644 .idea/vaccine-checker.iml
 create mode 100644 .idea/vcs.xml
